on:
  push:
    tags:
      - "*"

# These permissions are needed to assume roles from Github's OIDC.
permissions:
  contents: write
  id-token: write

name: Publish Extension
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          persist-credentials: false

      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 #v0.14.0
        with:
          enable-cache: 'true'

      - name: Install vendors
        run: devbox run yarn install --frozen-lockfile

      - id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@d38db1d025cb6f99bb21e420fa89dff42350c1c7
        with:
          # Secrets placed in the ci/repo/grafana/<repo>/<path> path in Vault
          repo_secrets: |
            OPEN_VSX_TOKEN=openvsx:token
            VS_MARKETPLACE_TOKEN=vscode-marketplace:token

      - name: Create extension package
        run: devbox run vsce package --out grafana-vscode.vsix
      
      - name: Publish to Open VSX
        run: devbox run npx --yes ovsx@0.9.4 publish --pat ${{ env.OPEN_VSX_TOKEN }} --packagePath grafana-vscode.vsix
      
      - name: Publish to Visual Studio Marketplace
        run: devbox run vsce publish --pat ${{ env.VS_MARKETPLACE_TOKEN }} --packagePath grafana-vscode.vsix

      - name: Create GitHub release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b #v1.20.0
        with:
          allowUpdates: true
          artifacts: "grafana-vscode.vsix"
          token: ${{ secrets.GITHUB_TOKEN }}
